<div>
  <link href="./testimonials-card.css" rel="stylesheet" />
  <div class="testimonials-card-container">
    <div class="testimonials-card-container1">
      <img
        alt="image"
        src="public/playground_assets/quote-mark.svg"
        class="testimonials-card-image"
      />
      <div class="testimonials-card-container2">
        <span class="testimonials-card-text lead1">
          <span>
            After many years of seeking solutions with no avail, the shambaSmart
            team gave the tools, knowledge and support I needed to scale my
            farming business.
          </span>
        </span>
        <span class="subtitle1"><span>Morio Kisilu</span></span>
        <span class="testimonials-card-text2 lead2">
          <span>Farmer, Kitui</span>
        </span>
      </div>
    </div>
  </div>
</div>
